.venv
__pycache__
_GIMP
_PicWish

desktop.ini

text
code/bot/images
code/_other/Google Drive.zip
code/_other/old_images.rar
code/data/images
code/data/raw_images
code/data/old_images

_test.*
ideas.txt
.gitignore